= form_for @question, remote: true, html: { class: 'form-horizontal' } do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label :content, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :content, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Make the question', class: "btn btn-primary"
      = link_to 'close', '#', on_click: "$('#question-form').remove()", class: "btn btn-danger active"