= form_for ([@question, @answer, @note]), remote: true, html: { class: 'form-horizontal' } do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :question_id, value: @question
  .form-group
    = f.label :content, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :content, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'make the note', class: "btn btn-primary"
      = link_to 'close', 'javascript:;', class: "btn btn-danger btn-note-js-close active", data: { answer_id: @answer.id }
