= form_for ([@question, @answer]),remote: true, html: { class: 'form-horizontal' }  do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

    = f.hidden_field :user_id, value: current_user
    = f.hidden_field :question_id, value: @question
  .form-group
    = f.label :content, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :content, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'make the answer', class: "btn btn-primary"
      = link_to 'close', 'javascript:;', class: "btn btn-danger btn-answer-js-close active", data: { question_id: @question.id }
